[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.8"
autopep8 = "*"
cloudinary = "*"
python-dotenv = "*"
whitenoise = "*"
pillow = "*"
config = "*"
python-decouple = "*"
django-bootstrap4 = "*"
psycopg2 = "==2.8.6"
django-tinymce = "*"
django-crispy-forms = "*"
gunicorn = "*"
django-heroku = "*"
importlib-metadata = "*"
dj-database-url = "*"
django-registration = "==3.1.1"
zipp = "==3.3.1"

[dev-packages]

[requires]
python_version = "3.6"
