{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <img src="https://images.unsplash.com/photo-1554128408-d2ae7deb38ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGluc3RhZ3JhbSUyMHBuZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="insta" style="height:600px;width:auto;">
    </div>
    <div class="col-md-5">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="card container">

        <div class="panel-heading">
          <h3 class="text-center" style="font-family: 'Lobster Two', cursive;">Instagram</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <p>Already have an account? <a href="/accounts/login"> Log In</a></p>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <div class="col-md-1"></div>
  </div>
  <br>
</div>

{% endblock %}